.nav {
  font-weight: 600;
}

.button {
  color: #0e2c66;
}
.hero {
  font-weight: 600;
  padding-top: 100px;
  background-image: url("../public/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 95vh;
}

.audit_process {
  background-color: #0e2c66;
  font-weight: 600;
}

.infrastructureButton {
  background-color: #0e2c66;
  color: #fff;
}

.infrastructure_description {
  color: #0e2c66;
}

.how_it_works {
  background-color: rgba(5, 222, 236, 0.3);
  color: #0e2c66;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  /* .hero {
    height: 95vh;
  } */
}
